@charset "UTF-8";   

    /*
        em HTML é id    = em CSS #
        emHTML é class  = em CSS é .
    */    

body {
    background-color: rgb(245, 252, 208);
    
}

h1{
    color: black;
}

h1#principal {
    text-align: center;
    background-color: azure;
}

h2 {
    color: rgb(231, 5, 5);
}

h2.basico {color: green;
}

h2.intermediario {color: gold;
}

h2.avançado {color: red;
}

.destaque {background-color: lawngreen;}

