@charset "UTF-8";

* {margin: 0px;
    padding: 0px;
}

body { background-color: rgb(134, 241, 241);

}

header { background-color: gray;
}

header h1 { 

            padding: 10px;
            text-align: center;
}

menu { 
    display: none;
    
}

menu,ul { list-style-type: none;
}

menu > ul > li > a {
        display: block;
        padding: 10px;
        text-decoration: none;
        background-color: rgb(80, 79, 79);
        color: white;
        text-align: center;
        border-top: 1px solid black;
}

menu > ul > li > a:hover {
            background-color: rgb(148, 136, 136);
}

section { width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

}

nav > h2 { padding-bottom: 20px;

}

nav > p { text-align: center;
          margin-bottom: 10px;
          text-indent: 1.em;
}

#menuhambur { cursor: pointer;
              padding: 10px;
              display: block;
              text-align: center;
              border-top: 1px solid black;
}

#menuhambur:hover {
                    background-color: white;
                    color: black;
}