@charset "UTF-8";

/* todas as demais midias */

/*typical Device Breakpoints
pequenas telas : ate 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992 até 1200px
TV grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
section#login {
    width: 65vw;

    }

    section#login > div#imagem {
        float: left;
        width: 18%;
        height: 100%;
        background-color: #DF6D64;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    section#login { 
        width: 700px
    }

    section#login > divimagem {
        float: left;
        width: 50%;
        height: 100%;
        background-color: #DF6D64;
    }

    section#login > div#formulario {
        
    }
}